<% const isUserPage = typeof variant !== "undefined" && variant === "user" %>
<header
	class="<%= isUserPage ? 'text-center' : '' %> sticky top-0 left-0 w-full bg-white p-[16px] lg:p-[32px]">
	<div class="container mx-auto flex items-center gap-[8px] lg:gap-[24px]">
		<a href="/" aria-label="zur Startseite">
			<img
				class="[@media(min-width:500px)]:hidden"
				src="<%= publicPrefix + '/' + 'sportmeet-icon.svg' %>"
				width="38"
				height="54"
				alt="SportsMeet Logo Mobile" />
			<img
				class="hidden [@media(min-width:500px)]:inline"
				src="<%= publicPrefix + '/' + 'sportmeet-logo.svg' %>"
				width="212"
				height="53"
				alt="SportsMeet Logo Desktop" />
		</a>

		<% if (isUserPage) { %>

		<div class="view-switcher view-switcher--main ms-auto">
			<button
				class="view-switcher__button is-active"
				type="button"
				aria-pressed="true"
				aria-controls="view-events">
				<svg aria-hidden="true" width="24" height="24" aria-hidden="true">
					<use
						href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#calendar' %>"></use>
				</svg>
				<span id="event-label" class="hidden sm:inline"> Termine </span>
			</button>
			<button
				class="view-switcher__button"
				type="button"
				aria-controls="view-groups"
				aria-pressed="false">
				<svg aria-hidden="true" width="24" height="24" aria-hidden="true">
					<use href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#group' %>"></use>
				</svg>
				<span id="group-label" class="hidden sm:inline"> Gruppen </span>
			</button>
		</div>

		<div class="dropdown group relative">
			<button
				class="dropdown__toggle flex cursor-pointer items-center gap-2 text-white [--focus-color:var(--color-body)]"
				aria-label="Konfiguration">
				<span class="user text-md bg-accent-blue h-[36px] w-[36px] shrink-0 rounded-full"
					>U</span
				>

				<svg
					aria-hidden="true"
					width="24"
					height="24"
					aria-hidden="true"
					class="text-body">
					<use
						href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#chevron-down' %>"></use>
				</svg>
			</button>

			<div
				class="absolute right-0 bottom-0 hidden translate-y-[calc(100%+15px)] overflow-hidden rounded-sm border border-gray-200 shadow-lg group-[.dropdown--open]:block">
				<div
					class="popover-header bg-accent-blue flex items-center gap-2 px-5 py-4 text-white">
					<span
						class="user text-md text-light grid h-[40px] w-[40px] shrink-0 place-content-center rounded-full bg-white/20"
						>U</span
					>
					<div class="flex flex-col items-start">
						<span class="font-medium">User name</span>
						<span class="text-sm text-blue-100">user.email@gmail.com</span>
					</div>
				</div>
				<div class="popover-body bg-white p-2">
					<button
						class="flex w-full cursor-pointer items-center gap-2 rounded-sm px-4 py-3 transition-colors hover:bg-gray-50">
						<div class="rounded-sm bg-gray-100 p-2">
							<svg
								class="text-gray-600"
								aria-hidden="true"
								width="20"
								height="20"
								aria-hidden="true">
								<use
									href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#logout' %>"></use>
							</svg>
						</div>

						<div class="flex w-max flex-col items-start">
							<p class="font-medium text-gray-900">Abmelden</p>
							<p class="text-xs text-gray-500">aus deinem Account ausloggen</p>
						</div>
					</button>
					<button
						class="flex w-full cursor-pointer items-center gap-2 rounded-sm px-4 py-3 transition-colors hover:bg-gray-50">
						<div class="rounded-sm bg-red-100 p-2">
							<svg
								class="text-red-600"
								aria-hidden="true"
								width="20"
								height="20"
								aria-hidden="true">
								<use
									href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#delete-account' %>"></use>
							</svg>
						</div>
						<div class="flex w-max flex-col items-start">
							<p class="font-medium text-red-600">Account löschen</p>
							<span class="text-xs text-red-500">Dein Konto dauerhaft entfernen</span>
						</div>
					</button>
				</div>
			</div>
		</div>

		<% } %>
	</div>
</header>
